



<% @posts.each do |post| %>

<div class="post">

<h2 class = "title"><%= link_to post.title,post %></h2> 


<div class="entry"><h3><%= post.body %></h3> </div>
<div class="byline">
	<p class ="meta"> Posted By <%= post.admin_user.name %></p>
	<p class ="links"><%= link_to "Read More", post  %></p>
	</div>
</div>
<% end %>


<%= link_to "Add New Post",new_post_path %>