<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Rblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	
<div id="wrapper">
		<div id="header-wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#"> The Blog </a></h1>
					

				</div id="menu">
				<ul class="main-nav">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "About", about_path  %></li>
						<li><%= link_to "Contact", contact_path %></li>
						
	</ul>		
				</div>
			</div>
		</div>

		

<div id="page">


	<div id="page-bgtop">
		<div id="page-bgbtm">

			

			
			<div id="content">
			</div>




				<div class="flash-message">
					<% flash .each do |key,value| %> 
					<p><%= value %></p>
					<% end %> 
				</div>

				<%= yield %>


				


			</div>
				</div>
				</div>

				<div id="sidebar">
						<ul>
							<li>
								<div id="search">
									<%= form_for @search do |f| %>
									<%= f.text_field :title_or_body_contains %>
									<%= f.submit "Search" %>
									<% end %>
								</div>
							</li>
							<h2> Categories </h2>
							<ul>
								
				<% all_categories.each do |cat| %>
				<li><%= link_to cat.name, category_path(:id => cat.id) %>
				</li>
				<% end %>
							</ul>
						</ul>
							<h2> Recent Posts </h2>
							<ul>
							<% all_posts.each do |post| %>
							<li><%= link_to post.title, post_path(:id => post.id) %></li> 
							<% end %>
							</ul>
						
					</div>

				
				 <!-- The yeld replaces the posts (below a sampled example)

				<div class="post">
					<h2 class="title"><a href="post.html">Welcome to my Blog </a></h2>
					<div class="entry">
						<p> Blog written in Ruby on Rails </p>
					</div>
					<div class="byline">
						<p class="meta"> A hardcoded post </p>
						<p class="link"><a href="post.html">Read More </a> &nbsp;
						</p>
					</div>
				</div>
				<div class="post">
					<h2 class="title"><a href="post.html"> Lorem ipsum sed</a></h2>
				</div class="entry">
				<p> paragraph </p>
			</div>
			<div class="byline">
				<p class ="meta"> Some meta Post </p>
				<div>
				-->

					

					<div style="clear: both">&nbsp;<div>
					</div>
				</div>
			
			

			<div>
		<div id="footer">
			<p>&copy; 2018, The Blog </p>
		</div>
</div>
</body>
</html>



